<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <!-- Facebook -->
            <a href="https://www.facebook.com/your_facebook_profile" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <!-- Instagram -->
            <a href="https://www.instagram.com/gupta_sajag59?igsh=ZnpnZGR2Mm1lNGhi" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/sajag-gupta-b95728184/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
